@import "@/styles/mixin/_ellipsis.scss";

@mixin productList {
  .productList {
    width: 1170px;
    padding: 15px;
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 25%;
        margin-bottom: 15px;
      }
    }

    @include xl {
      width: 970px;
    }
    @include l {
      width: 750px;

      ul {
        li {
          width: 50%;
        }
      }
    }
    @include m {
      width: 100%;
    }
  }
}
