@mixin productList {
  .productList {
    width: 1170px;
    padding: 15px;
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 25%;
        margin-bottom: 15px;
      }
    }

    @include mw1200 {
      width: 970px;
    }
    @include mw992 {
      width: 750px;

      ul {
        li {
          width: 50%;
        }
      }
    }
    @include mw767 {
      width: 100%;
    }
  }
}
