.button {
  @include button(auto, 40px, 0, 0, 3px, $primaryColor, #fff, $font_s);
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  i {
    margin-right: 5px;
  }
}

.user {
  width: 550px;
  margin: 40px auto 0;
  border: 1px solid #ddd;
  color: #888;

  .navs {
    display: flex;

    .nav {
      flex: 1 1;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-right: 1px solid #ddd;
      background-color: #eee;
      font-size: $font_s;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &.active {
        background-color: #fff;
      }
    }
  }

  .forms {
    .form {
      padding: 30px;
    }
  }

  .third_login {
    padding: 20px 30px;
    border-top: 1px solid #ddd;
  }

  @include mw767 {
    width: calc(98% - 20px);
  }
}
