@import "@/styles/mixin/_productList.scss";

.allProductsAndCategory {
  .img_container {
    width: 100%;
    padding-bottom: 37.583333%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  .content {
    width: 1170px;
    padding: 0 15px;
    margin: 1% auto 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .rich_container {
      width: 50%;
      padding: 15px;
    }

    .video_container {
      width: 50%;
      padding-bottom: 25%;
      position: relative;

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  @include xl {
    .content {
      width: 970px;
    }
  }
  @include l {
    .content {
      width: 750px;

      .rich_container {
        width: 100%;
      }

      .video_container {
        width: 100%;
        padding-bottom: 50%;
      }
    }
  }
  @include m {
    .content {
      width: 100%;
    }
  }

  .title {
    padding: 10px 0 25px;
    margin-bottom: 28px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 22px;
    color: #666;
    position: relative;

    &:before {
      content: "";
      width: 25px;
      height: 3px;
      position: absolute;
      left: 50%;
      bottom: -3px;
      margin-left: -12.5px;
      background-color: $primaryColor;
    }
  }

  @include productList;
}
