.payModal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modalBackground;
  z-index: 100;

  .payModal {
    width: 300px;
    padding: 20px;
    margin: 200px auto 0 auto;
    border-radius: 5px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .message {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        margin: 10px 0px;
        border: 1px solid $primaryColor;
      }
    }

    .button_row {
      display: flex;
      justify-content: center;
    }

    .bank_account {
      margin-top: 10px;
      display: flex;
      align-items: center;

      .bank_title {
        margin-right: 5px;
        white-space: nowrap;
      }

      input {
        width: 150px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 16px;
      }

      .copy {
        font-size: 20px;
        color: $primaryColor;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .input_container {
      .message {
        flex-direction: row;
        display: none;
      }
      &.error {
        .message {
          display: flex;
        }
      }
    }
  }
}

.ECPay_form_container {
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 3px;
  background-color: #fff;
  display: none;

  input {
    width: 0 !important;
    height: 0 !important;
    display: block;
  }
  .message {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
  }
  .button_row {
    display: flex;
    justify-content: center;

    .button {
      height: 30px;
      line-height: 30px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
