@import "@/styles/mixin/_datepicker.scss";
@import "@/styles/mixin/_input.scss";
@import "@/styles/mixin/_button.scss";

// user ==================================================
@include datepicker;

.input_container {
  margin-bottom: 10px;
  position: relative;

  input {
    // input($width, $height, $padding, $margin, $borderRadius, $border, $shadow, $backgroundColor, $color, $font-size)
    @include input(
      100%,
      40px,
      0 30px 0 10px,
      0 0 5px 0,
      3px,
      1px solid #ddd,
      0 0 3px 1px $primaryColor,
      transparent,
      #333,
      $font_s
    );
  }
  .eyes_icon {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .message {
    padding: 0px 10px;
    font-size: $font_s;

    &.error {
      color: $dangerColor;
      align-items: center;
      display: none;

      .error_icon {
        margin-right: 5px;
      }
    }
  }

  &.error {
    input {
      border: 1px solid $dangerColor;
    }
    .message {
      &.error {
        display: flex;
      }
    }
  }

  &.verify {
    display: flex;
    flex-wrap: wrap;

    input {
      width: 45%;
      border-radius: 3px 0 0 3px;
    }
    .button {
      width: 55%;
      border-radius: 0 3px 3px 0;
    }
  }
}

// ============================================================
.button {
  // button($width, $height, $padding, $margin, $borderRadius, $backgroundColor, $color)
  @include button(auto, 40px, 0, 0, 3px, $primaryColor, #fff, $font_s);
}

.main {
  width: 600px;
  margin: 70px auto 0;
  border: 1px solid #ddd;

  .navs {
    display: flex;

    .nav {
      flex: 1 1;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background-color: #eee;
      color: #888;
      font-size: $font_s;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }
    }
  }
  .forms {
    .form {
      padding: 20px;
      display: none;

      select {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        margin-bottom: 21px;
        border: 1px solid #ddd;
        outline: none;
        color: #333;
        font-size: $font_s;
        cursor: pointer;
      }

      .radio_container {
        display: flex;
        margin-bottom: 15px;

        .radio {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border-radius: 50%;
          border: 1px solid #ddd;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
          }

          .circle {
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $primaryColor;
          }
        }

        label {
          margin-right: 15px;
          cursor: pointer;
        }
      }

      .agree_container {
        margin-bottom: 15px;
        font-size: $font_s;
        display: flex;
        align-items: center;

        .checkbox {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-radius: 3px;
          border: 1px solid #ddd;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          input[type="checkbox"] {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
          }
          i {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 1.5px;
            color: $primaryColor;
          }
        }
        label {
          cursor: pointer;
        }
        .modal_text {
          margin-left: 5px;
          color: $primaryColor;
          text-decoration: underline;
          opacity: 0.8;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  // test
  .third_login {
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;

    .button {
      flex: 1 1;
      margin-left: 2px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  &.register {
    .register_nav {
      border-bottom: none;
      background-color: #fff;
      color: #555;
    }
    .register_form {
      display: block;
    }
  }
  &.login {
    .login_nav {
      border-bottom: none;
      background-color: #fff;
      color: #555;
    }
    .login_form {
      display: block;
    }
  }
  &.forget {
    .forget_nav {
      border-bottom: none;
      background-color: #fff;
      color: #555;
    }
    .forget_form {
      display: block;

      .input_container {
        &.verify {
          input {
            width: 100%;
          }
        }
      }

      .button {
        margin-bottom: 5px;
      }
    }
  }

  @include m {
    width: calc(98% - 20px);
  }
}

.user_modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modalBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483645;

  .close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  .user_modal {
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    padding: 3%;
    border-radius: 5px;
    background: #fff;
  }
}

.user_message_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modalBackground;
  z-index: 100;

  .user_message {
    width: 300px;
    padding: 20px;
    margin: 200px auto 0 auto;
    border-radius: 5px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
